@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/*=== Global style ===*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: rgba(255, 255, 255, 1);
  font-family: 'Azeret Mono', monospace;
  color: rgba(13, 19, 33, 1);
}

.main-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}

.btn {
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(13, 19, 33, 1);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 23px;
}

/*=== Main Design ===*/

/*=== Navbar ===*/

.navbar {
  display: flex;
  min-height: 131px;
  align-items: center;
  justify-content: space-between;
}

.navbar-tittle {
  font-size: 28px;
  font-weight: 800;
  font-style: normal;
  line-height: 33px;
}

/*=== Hero Section ===*/

.hero {
  min-height: 652px;
  background-image: url('../images/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-img {
  margin-top: 26px;
  margin-bottom: 32px;
}

.hero-tittle {
  margin-bottom: 24px;
  max-width: 998px;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  font-style: normal;
  line-height: 68px;
}

.hero-description {
  margin-bottom: 32px;
  max-width: 852px;
  text-wrap: pretty;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
}

.hero-btn {
  display: block;
  background-color: rgba(13, 19, 33, 1);
  padding-top: 21px;
  padding-bottom: 21px;
  color: rgba(255, 255, 255, 1);
}

/*=== Development Section ===*/

.dev-section {
  margin-top: 74px;
  border-radius: 16px;
  background-color: rgba(13, 19, 33, 0.02);
  padding-top: 97px;
  padding-bottom: 97px;
}

.dev-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.dev-tittle {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 800;
  font-style: normal;
  line-height: 37px;
}

.dev-des {
  margin-bottom: 48px;
  max-width: 852px;
  text-wrap: pretty;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  opacity: 0.7;
}

.dev-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}

/*= Card =*/

.card {
  width: 946px;
  border-radius: 16px;
  background-image: linear-gradient(
    90deg,
    #fff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 48px;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.card-tittle {
  margin-bottom: 16px;
  max-width: 390px;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 36px;
  opacity: 0.7;
}

.card-des {
  margin-bottom: 32px;
  max-width: 468px;
  text-wrap: pretty;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  opacity: 0.7;
}

.card-btn {
  display: inline-block;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(13, 19, 33, 0.7);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 23px;
  color: rgba(13, 19, 33, 1);
}

.card-2-body {
  flex-direction: row-reverse;
}

.card-2-tittle {
  max-width: 477px;
}

/*=== Inspiration Section ===*/

.inspiration-section {
  margin-top: 90px;
}

.inspiration-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.inspiration-tittle {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 800;
  font-style: normal;
  line-height: 37px;
}

.inspiration-des {
  margin-bottom: 8px;
  max-width: 852px;
  text-wrap: pretty;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  opacity: 0.7;
}

.inspiration-author {
  margin-bottom: 48px;
  margin-left: 280px;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 26px;
  opacity: 0.7;
}

.inspiration-video {
  width: 100%;
  border-radius: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(13, 19, 33, 0.2);
  padding: 32px;
}

.inspiration-video-iframe {
  display: inline-block;
  height: 550px;
  width: 100%;
  border-radius: 16px;
}
